<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>خريطة مرافق شطر الطالبات</title>
  


    <!--Footer-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/CSS/styles_footer.css">

    <!--Header-->
    <link rel="stylesheet" href="../public/CSS/styles_Header.css">
    
    <!--faculty-->
    <link rel="stylesheet" href="../public/CSS/styles_faculty.css">

</head>
<body>



    <!-- --------------------------------------------------------------------------------------------------------------------------- -->
    <!--Header-->
    <div class="section header-section">

      <div class="div">
            <div class="div-2">
                <div class="div-5">
                    <div class="div-6">
                        <div class="header">
                            <div>
                                <div class="image-container">
                                    <img class="img-7" src="../public/img/Header/Group 4114.png" />
                                    <img class="logo" src="../public/img/Header/logo_kau 3.png" alt="KAU Logo">
                                </div>
                                <div class="menubar">
                                    <div class="menubar-header">
                                        <div>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="#" class="submenu-toggle">إدارة الجامعة &#9660; </a>
                                                <ul class="submenu">
                                                    <li><a
                                                            href="https://fcm.kau.edu.sa/Pages-%D8%A7%D9%84%D8%B4%D8%A4%D9%88%D9%86-%D8%A7%D9%84%D8%AA%D8%B9%D9%84%D9%8A%D9%85%D9%8A%D8%A9-%D8%A7%D8%AA%D8%B5%D9%84-%D8%A8%D9%86%D8%A7.aspx">الشؤون
                                                            التعليمية</a></li>
                                                    <li><a href="https://pr.kau.edu.sa/Default-106-AR">إدارة العلاقات العامة</a>
                                                    </li>
                                                    <li><a href="https://labor-admin.kau.edu.sa/Default-433-ar">الأدارة العامة
                                                            للموارد البشرية</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#" class="submenu-toggle">البرامج الاكاديمية &#9660;</a>
                                                <ul class="submenu">
                                                    <li><a href="https://graduatestudies.kau.edu.sa/Pages-286863.aspx">برامج
                                                            الماجستير العامة</a></li>
                                                    <li><a href="https://emba.kau.edu.sa/Default-120022-ar">برنامج ماجستير إدارة
                                                            الاعمال التنفيذي</a></li>
                                                    <li><a href="https://graduatestudies.kau.edu.sa/Pages-286864.aspx">برامج
                                                            الدكتوراه</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="https://www.kau.edu.sa/Researches.aspx?Site_ID=0&Lng=AR&ViewBy=All">البحث
                                                    العلمي</a></li>
                                            <li>
                                                <a href="#" class="submenu-toggle">الحياة الجامعية &#9660;</a>
                                                <ul class="submenu">
                                                    <li><a href="https://catalog.kau.edu.sa/">المكتبة المركزية</a></li>
                                                    <li><a href="https://umsc.kau.edu.sa/Default-407-ar"> الخدمات الطبية</a>
                                                    </li>
                                                    <li><a href="https://studentaffairs.kau.edu.sa/Pages-273910.aspx">الخدمات
                                                            الطلابية </a></li>
                                                </ul>
                                            </li>
                                            <li><a href="https://spc.kau.edu.sa/Content-320-AR-2732">مجلة الجامعة</a></li>
                                        </ul>
                                        <img src="../public/img/Header/logo.png" alt="KAU Logo" class="diagonal-logo">
                                    </div>
                                </div>
                            </div>
                            <div class="menu">
                                <a href="https://www.kau.edu.sa/Content-0-AR-282186"
                                    style="color: white; text-decoration: none;">
                                    <div>عن الجامعة</div>
                                </a>
                                <a href="https://www.kau.edu.sa/Content-0-AR-285332"
                                    style="color: white; text-decoration: none;">
                                    <div>القبول</div>
                                </a>
                                </a>
                                <a href="https://www.kau.edu.sa/Content-0-AR-285329"
                                    style="color: white; text-decoration: none;">
                                    <div>الأكاديمية</div>
                                </a>
                                </a>
                                <a href="https://www.kau.edu.sa/Content-0-AR-285333"
                                    style="color: white; text-decoration: none;">
                                    <div>البحث والابتكار</div>
                                </a>
                                </a>
                                <a href="https://cic.kau.edu.sa/Pages-%D8%A7%D8%AA%D8%B5%D9%84-%D8%A8%D9%86%D8%A7.aspx"
                                    style="color: white; text-decoration: none;">
                                    <div>تواصل معنا</div>
                                </a>
                                <img src="../public/img/Header/icons8-world-50 1.png" alt="Globe Icon" class="img-3">
                                <img src="../public/img/Header/accessibility 1.png" alt="Accessibility Icon"
                                    class="img-4">
                                <div class="search-container">
                                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bb5308288f56df28854398dc10b3f23ce5e83562faad488febc4b19fdaa1a47d?"
                                        alt="Search Icon" class="img-2" class="search-icon" onclick="toggleSearchBar()">
                                    <input type="text" class="search-bar" placeholder="ابحث هنا">
                                </div>
                            </div>
                        </div>
                  </div>


    <!-- --------------------------------------------------------------------------------------------------------------------------- -->
    <!--Map-->
      <br><br><br><br>




  <div class="faculty-section" dir="ltr">
    <section id="section-1" class="section">
        <div class="container">
            <div class="buttons">
                <button class="btn" onclick="toggleSection('institutes')">المعاهد</button>
                <button class="btn" onclick="toggleSection('health-colleges')">الكليات الصحية</button>
                <button class="btn" onclick="toggleSection('science-colleges')">الكليات العلمية</button>
                <button class="btn" onclick="toggleSection('admin-colleges')">الكليات الإدارية و الإنسانية</button>
            </div>
            <div id="institutes" class="content-section">
                <div class="title-box">المعاهد</div>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <img src="../public/img/faculty/24.jpg" class="img img-wide" alt="معهد الاقتصاد الإسلامي">
                            <div class="card-title">معهد الاقتصاد الإسلامي</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/23.jpg" class="img img-wide" alt="معهد اللغة الإنجليزية">
                            <div class="card-title">معهد اللغة الإنجليزية</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="../public/img/faculty/22.jpg" class="img img-wide" alt="معهد اللغة العربية للناطقين بغيرها">
                            <div class="card-title">معهد اللغة العربية للناطقين بغيرها</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/25.jpg" class="img img-wide" alt="معهد السياحة">
                            <div class="card-title">معهد السياحة</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="health-colleges" class="content-section">
                <div class="title-box">الكليات الصحية</div>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <img src="../public/img/faculty/1.jpg" class="img" alt="الطب البشري">
                            <div class="card-title">الطب البشري</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/3.jpg" class="img" alt="الصيدلة">
                            <div class="card-title">الصيدلة</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="../public/img/faculty/4.jpg" class="img" alt="العلوم الطبية التطبيقية">
                            <div class="card-title">العلوم الطبية التطبيقية</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/6.jpg" class="img" alt="طب الأسنان">
                            <div class="card-title">طب الأسنان</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="../public/img/faculty/2.jpg" class="img" alt="علوم التأهيل الطبي">
                            <div class="card-title">علوم التأهيل الطبي</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/5.jpg" class="img" alt="التمريض">
                            <div class="card-title">التمريض</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="science-colleges" class="content-section">
                <div class="title-box">الكليات العلمية</div>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <img src="../public/img/faculty/8.jpg" class="img" alt="العلوم">
                            <div class="card-title">العلوم</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/7.jpg" class="img" alt="الهندسة">
                            <div class="card-title">الهندسة</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/9.jpg" class="img" alt="الإقتصاد و الإدارة">
                            <div class="card-title">الإقتصاد و الإدارة</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="../public/img/faculty/12.jpg" class="img" alt="علوم الأرض">
                            <div class="card-title">علوم الأرض</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/11.jpg" class="img" alt="علوم البحار">
                            <div class="card-title">علوم البحار</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/10.jpg" class="img" alt="الحاسبات و تقنية المعلومات">
                            <div class="card-title">الحاسبات و تقنية المعلومات</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="../public/img/faculty/13.jpg" class="img" alt="العمارة و التخطيط">
                            <div class="card-title">العمارة و التخطيط</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/15.jpg" class="img" alt="الدراسات البحرية">
                            <div class="card-title">الدراسات البحرية</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/14.jpg" class="img" alt="العلوم البيئية">
                            <div class="card-title">العلوم البيئية</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/16.jpg" class="img" alt="علوم الإنسان و التصاميم">
                            <div class="card-title">علوم الإنسان و التصاميم</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="admin-colleges" class="content-section">
                <div class="title-box">الكليات الإدارية و الإنسانية</div>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <img src="../public/img/faculty/17.jpg" class="img img-wide" alt="الحقوق">
                            <div class="card-title">الحقوق</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/18.jpg" class="img img-wide" alt="الأعمال">
                            <div class="card-title">الأعمال</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/19.jpg" class="img img-wide" alt="الأداب و العلوم الإنسانية">
                            <div class="card-title">الأداب و العلوم الإنسانية</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="../public/img/faculty/21.jpg" class="img img-wide" alt="السياحة">
                            <div class="card-title">السياحة</div>
                        </div>
                        <div class="card">
                            <img src="../public/img/faculty/20.jpg" class="img img-wide" alt="الإتصال و الإعلام">
                            <div class="card-title">الإتصال و الإعلام</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>





    <!-- --------------------------------------------------------------------------------------------------------------------------- -->
    <!--Footer-->
    <br><br><br><br><br>

    <div class="Footer footer-section">
        <div class="div-2">
            <div class="Top">
                <div class="Left-Line"></div>

                <div class="social-buttons">
                    <a href="https://www.youtube.com/@kauedu_sa" class="social-button social-button--youtube" aria-label="YouTube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://x.com/kauweb" class="social-button social-button--x" aria-label="X">
                        <i class="fas fa-times"></i>
                    </a>
                    <a href="https://www.snapchat.com/add/kauedu_sa" class="social-button social-button--snapchat" aria-label="Snapchat">
                        <i class="fab fa-snapchat-ghost"></i>
                    </a>
                    <a href="https://www.instagram.com/kauedu_sa/" class="social-button social-button--instagram" aria-label="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/school/king-abdulaziz-university" class="social-button social-button--linkedin" aria-label="LinkedIn">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>

                <div class="Right-Line"></div>
            </div>

            <div class="Content">

                <div class="column-right">
                        
                    <div class="about">عن الجامعة</div>
                    <div class="GenralInfo"><a href="https://www.kau.edu.sa/Pages-282186.aspx"> معلومات عامة</a> </div>

                    <div class="plan">  <a href="https://www.kau.edu.sa/Content-0-AR-285334"> الخطة الاستراتيجية</a></div>

                    <div class="Credits">
                        <a href="https://www.kau.edu.sa/Content-0-AR-285355"> الاعتمادات الأكاديمية</a> 
                    </div>

                    <div class="openData"><a href="https://www.kau.edu.sa/Pages-od.aspx">البيانات المفتوحة</a></div>

                    <div class="jobs"><a href="https://www.kau.edu.sa/Content-0-AR-285355">التوظيف</a> </div>

                    <div class="Graduates"><a href="https://www.kau.edu.sa/Content-0-AR-282192">الخريجون</a></div>

                    <div class="Employees"> <a href="https://www.kau.edu.sa/Content-0-AR-282190">الموظفين</a> </div>
                    
                </div>
                    <div class="column-center">
                        
                            <div class="Admission">القبول والتسجيل</div>
                            <div class="div-C1"> 
                                <a href="https://www.kau.edu.sa/Content-0-ar-285332">القبول</a>
                            </div>
                            <div class="div-C2">
                                <a href="https://www.kau.edu.sa/Content-0-AR-285332">برامج الجامعة الدراسية</a>
                            </div>
                            <div class="div-C3">
                                <a href="https://dsa-scholarships.kau.edu.sa/Default-211995-AR">المنح الدراسية للطلبة الدوليين </a>
                            </div>
                            <div class="div-C4">
                                <a href="https://www.kau.edu.sa/Pages-od.aspx#"> الاجراءات واللوائح العامة</a>
                        
                            
                            </div>
                        
                    </div>

                    <div class="column-left">

                        <div class="ContactInfo">مركز التواصل والمعلومات</div>
                        <div class="div-L1">
                            <a href="https://cic.kau.edu.sa/Default-777-ar">
                                <br />
                                MyKau-800-11
                                <br />
                                69528-800-11
                                <br />
                            </a>
                        </div>

                    </div>
                    
                
            </div>

            <div class="Buttom">
                <div class="Contact-us"> <a href="https://www.kau.edu.sa/Pages-%D8%A7%D8%AA%D8%B5%D9%84-%D8%A8%D9%86%D8%A7.aspx">اتصل بنا</a></div>


                <div class="Kau2022">
                    جميع الحقوق محفوظة لجامعة الملك عبدالعزيز 2022
                </div>

                <div class="div-Buttom">
                    <div class="div-B1"><a href="https://dtc.kau.edu.sa/Pages-OnlinePrivacyPolicyAR.aspx">سياسة الخصوصية</a></div>
                    <div class="div-B2"><a href="https://dtc.kau.edu.sa/Pages-tacouAR.aspx">الشروط والاستخدام</a></div>
                    <div class="div-B3"><a href="https://dtc.kau.edu.sa/Pages-OnlinePublishingPolicyAR.aspx">سياسة النشر الالكتروني</a></div>
                </div>
            </div>
        </div>
    </div>










<script>
      const img = document.querySelector('.img-7');
      const menubar = document.querySelector('.menubar');

      img.addEventListener('click', () => {
          menubar.style.display = menubar.style.display === 'flex' ? 'none' : 'flex';
      });
      function toggleSearchBar() {
          const searchBar = document.querySelector('.search-bar');
          searchBar.style.display = searchBar.style.display === 'none' ? 'inline-block' : 'none';
      }
      document.querySelectorAll('.submenu-toggle').forEach(toggle => {
          toggle.addEventListener('click', (event) => {
              event.preventDefault();
              const parentLi = event.target.parentElement;
              parentLi.classList.toggle('active');
          });
      });

  </script>
    <script>
        function toggleSection(sectionId) {
            const sections = document.querySelectorAll('.content-section');
            sections.forEach(section => {
                section.classList.remove('visible');
            });

            const buttons = document.querySelectorAll('.btn');
            buttons.forEach(button => {
                button.classList.remove('active');
            });

            const section = document.getElementById(sectionId);
            if (section) {
                section.classList.add('visible');
            }

            const button = document.querySelector('.btn'[onclick="toggleSection('${sectionId}')"]);
            if (button) {
                button.classList.add('active');
            }
        }

        // Set default section
        document.addEventListener('DOMContentLoaded', () => {
            toggleSection('admin-colleges');
        });
    </script>
</body>
</html>
