<!DOCTYPE html>
<html>
<head>
    <title>KAU</title>
</head>
<body>
    <div id="MyKAU"></div>
    <div id="MapInterface"></div>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        fetch('MyKAU.html')
          .then(response => response.text())
          .then(data => {
            document.getElementById('MyKAU').innerHTML = data;
          });

        fetch('MapInterface.html')
          .then(response => response.text())
          .then(data => {
            document.getElementById('MapInterface').innerHTML = data;
          });
    });
    </script>
</body>
</html>
